// Ref: https://github.com/nuxt-community/vuetify-module#customvariables


@font-face {
  font-family: "Barlow-Black";
  src: url("assets/fonts/Barlow-Black.ttf");
}
@font-face {
  font-family: "BodoniModa-Black";
  src: url("assets/fonts/BodoniModa.ttf");
}

$body-font-family:'BodoniModa'!default;
$heading-font-family:'Barlow-Black'!default;


.v-application {
 h1, h2, h3, h4 {
   font-family: $heading-font-family;
   font-style: italic;
   text-shadow: 0 2px 0 #6365e9;
 }

}
