// Ref: https://github.com/nuxt-community/vuetify-module#customvariables


@font-face {
  font-family: "Barlow-Black";
  src: url("assets/fonts/Barlow-Black.ttf");
}

$heading-font-family: 'Barlow-Black' !default;


.v-application {
  @media (max-width: 375px) {
    h1 {
      font-size: 5em !important;
    }
    h3 {
      font-size: 1em!important;
    }
  }
  
  h1 {
    font-family: $heading-font-family;
    font-style: italic;
    font-size: 8em;
    letter-spacing: 15px !important;
    text-shadow: 5px 0 0 #E800A2, -4px -3px 0 #00FFFF;
  }

  h2 {
    font-family: $heading-font-family;
    font-style: italic;
    color: #662D91 !important;
    letter-spacing: 4px !important;
    text-shadow: -1px 0px 0px #00FFFF;

  }

  h3 {
    font-family: $heading-font-family;
    font-size: 1.2em;
  }

  p {
    font-weight: bold;
  }

}
